<h1>Packing List Item Details:</h1>

<h2>@Model.Description</h2>
<ul>
  <li>
    @if(Model.Purchased == true)
    {
      <p>Purchased</p>
    }
    else
    {
      <p>Not Purchased</p>
    }
  </li>
  <li>
    @if(Model.Packed == true)
    {
      <p>Packed</p>
    }
    else
    {
      <p>Not Packed</p>
    }
  </li>
  <li>
    @if(Model.BagChecked == true)
    {
      <p>Bag Checked</p>
    }
    else
    {
      <p>Bag Not Checked</p>
    }
  </li>
</ul>

<a href="/items/new">Add another item</a>
<a href="/items">View all items</a>
<a href="/items/@Model.Id/edit">Edit this item</a>
